$font-primary: 'Roboto', sans-serif

$color-accent: #009688
$color-text-primary: #fff
$color-text-secondary: #a0acba
$color-text-third: #475b75

$background-color: #0a1523
$background-color-dark: #050e19
$background-color-night: #020810

$container-border-radius: 10px
$icon-button-color: #2d3b4d
$icon-button-color-hover: #FFF

$category-chip-border: 1px solid #1e252f
$category-chip-border-hover: 1px solid $color-accent
$category-chip-text: #ffffff
$chip-hover-button-action: #c0d9d7
$chip-button-action-hover: #00695C

$button-complete-argument-icon-color: $color-accent
$button-complete-argument-background: #0c1622
$button-complete-argument-icon-color-hover: #FFFFFF
$button-complete-argument-background-hover: $color-accent

$button-completed-argument-icon-color: rgba(255, 255, 255, 0.5)
$button-completed-argument-background: rgba(0, 150, 136, 0.5)

$button-delete-argument-icon-color: #c74747
$button-delete-argument-background: #0c1622
$button-delete-argument-icon-color-hover: #FFFFFF
$button-delete-argument-background-hover: #c74747

$input-background-color: #0c1622
$input-text-color: #fff
$input-placeholder-color: #1a293a

$button-border: 1px solid #1e252f
$button-border-hover: 1px solid $color-accent

$text-button-color: #35383c
$text-button-color-hover: #475b75

$dialog-item-margin: 60px