.button-delete-argument
  background: none
  outline: none
  border: none
  cursor: pointer
  align-self: center
  justify-self: end
  margin-right: 40px

  i
    font-size: 2.2em
    color: $argument-item-button-action-secondary

.button-delete-argument:hover

  i
    color: $argument-item-button-action-secondary-hover