.category-chip
  padding: 15px
  margin: 0 1.25em
  background-color: trasparent
  border-radius: 50px
  border: $category-chip-border
  cursor: pointer
  transition: all 150ms ease-in-out

  .category-text
    color: $category-chip-text
    font-size: 0.7em
    font-weight: 500
    text-transform: uppercase
    margin: 0 1em 0 1em

  .button-delete-category
    background: none
    outline: none
    border: none
    height: 17px
    cursor: pointer

    i
      font-size: 1.3em
      color: $icon-button-color

.category-chip:hover
  border: $category-chip-border-hover

.category-chip.category-selected
  background-color: $color-accent


.category-chip.categoria-selezionata, .category-chip:hover

  .category-text
    color: $category-chip-text
    