.snackbar
  position: fixed
  display: flex
  bottom: 0
  left: 0
  width: 100%
  min-height: $snackbar-min-height
  align-items: center
  align-content: center
  vertical-align: middle
  background-color: $snackbar-background-color
  padding: 20px 40px
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2)
  z-index: $snackbar-z-index
  box-sizing: border-box

  .snackbar-message
    width: 100%
    font-weight: 400
    font-size: $snackbar-message-font-size
    color: $snackbar-message-color


  .button-action-snackbar
    background: none
    background-color: $button-action-snackbar-background
    font-weight: 700
    font-size: 0.9em
    color: $button-action-snackbar-color
    outline: none
    border: none
    cursor: pointer
    align-self: center
    justify-self: end
    box-sizing: border-box
    transition: background 200ms ease-in

  .button-action-snackbar:hover
    background-color: $button-action-snackbar-background-hover
    color: $button-action-snackbar-color-hover

      