.argument-item
  position: relative
  overflow: hidden
  display: block
  margin: 15px
  display: grid
  grid-template-columns: 5fr 1fr

  .argument-title
    font-size: 1.6em
    color: $color-text-secondary
    font-weight: 300
    padding: 15px 40px
    cursor: pointer
    align-self: center

  .argument-title:hover
    color: $color-text-primary
  
  .argument-title-completed
    text-decoration: line-through
    color: $color-text-third
